.dashboard-container {
    height: 90vh;
    display: grid;
    grid-template-rows: .3fr 5fr;
    grid-template-columns: .6fr 3fr;
}

.top-bar {
    grid-column: 1 / span 2;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    color: #262739;
    font-family: 'Roboto', sans-serif;
}

/* .main-container {
    background-color: aqua;
} */
.logo {
    color: #1659D7;
}
.username {
    display: flex;
    align-items: center;
    gap: 1rem;
}
 
.section-3 {
    height: 100%;
}