* {
    margin: 0;
    padding: 0;
}
.home-container{
    width: 100%;
    padding: 2rem;
}
.mini-container {
    width: 30%;
    height: 40%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 1rem;
}
.total-no-container {
   
/* background: #5789E6;
background: radial-gradient(at left top, #5789E6, #0113E5); */
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=6693e6&c2=2836dc&gt=r&gd=dtl
*/
background: #6693E6;
background: radial-gradient(at left top, #6693E6, #2836DC);
}