/* styles.css */
.table-checkbox {
    cursor: pointer;
}
.table-row:hover {
    background-color: #0ac050;
}


/* 
.student-list {
    max-height: 400px; 
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #f4f4f4;
} */
